/*global style */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* width */

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #d3d8ff;
    border-radius: 20px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #4a64e7;
    border-radius: 40px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #4a64e7;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #F6F7FF;
    flex-wrap: wrap;
    padding: 80px 0 0 0;
    width: 100%;
    height: 100%;
}

i {
    color: #F6F7FF;
}


/* style of menu part */

.o {
    display: flex;
    color: #F6F7FF;
    text-decoration: none;
    align-items: center;
    margin: 10px 0 10px 0;
    transition: all .2s ease-in;
}

.option {
    margin: 30px 0 0 0;
}

.o span {
    width: 3px;
    height: 17px;
    background: #FF5959;
    opacity: 0;
}

.hide {
    opacity: 100;
}

.show {
    opacity: 0;
}

.o:hover {
    color: white;
    text-decoration: none;
}

.o i {
    margin: 0 7px 0 0;
}

.menu {
    width: 264px;
    height: 588px;
    background: #4A63E7;
    display: flex;
    flex-direction: column;
    padding: 35px 29px;
    border-radius: 35px;
}

.opt {
    margin: 0 10px 0 0;
}

.o:hover {
    margin: 10px 10px 0 0;
    transition: all .2s ease-in;
}

.menu img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
}

.webname {
    color: #F6F7FF;
    font-size: 1.75em;
    margin: 20px 0 0 0;
}

.webname span {
    color: #FF5959;
}

.autorname {
    color: #F6F7FF;
    font-size: 0.90em;
}


/* styel of container */

.conteiner {
    margin: 0 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.part1 {
    width: 877px;
    height: 588px;
    border-radius: 35px;
    /* margin: 0 40px 0 0; */
    background-color: #4A63E7;
    padding: 70px 90px 0 0;
    -webkit-box-shadow: 0px 0px 13px 0px #4A63E7;
    box-shadow: 0px 0px 13px 0px #4A63E7;
}

.ptit {
    font-size: 3.5em;
    color: #F6F7FF;
}

.ptit span {
    color: #FF5959;
}

.ptxt {
    color: #F6F7FF;
    font-size: 1.1em;
}

.btnp {
    display: flex;
    align-items: center;
    margin: 30px 0 0 0;
}

.ticket {
    display: flex;
    align-items: center;
    margin: 0 40px 0 0;
    justify-content: center;
    width: 140px;
    height: 45px;
    border: 1px solid #F6F7FF;
    border-radius: 40px;
    transition: all .3s ease-in;
}

.source {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 45px;
    background: #FF5959;
    border-radius: 40px;
    transition: all .3s ease-in;
}

.ticket a {
    text-decoration: none;
    color: #F6F7FF;
    margin: 0 10px 0 0;
}

.ticket:hover {
    color: #4A63E7;
    background: #F6F7FF;
    -webkit-box-shadow: 0px 12px 26px -5px rgba(48, 0, 138, 0.62);
    box-shadow: 0px 12px 26px -5px rgba(48, 0, 138, 0.62);
    transition: all .3s ease-in;
}

.source p {
    color: #F6F7FF;
    margin: 0 10px 0 0;
}

.source:hover {
    background-color: #4A63E7;
    -webkit-box-shadow: 0px 12px 26px -5px rgba(48, 0, 138, 0.62);
    box-shadow: 0px 12px 26px -5px rgba(48, 0, 138, 0.62);
    transition: all .3s ease-in;
}

.part1 img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
}


/* part 2 */

.part2 {
    width: 1179px;
    height: 223px;
    background-color: #4A63E7;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 0px 0px 13px 0px #4A63E7;
    box-shadow: 0px 0px 13px 0px #4A63E7;
    margin: 30px 0 0 0;
}

.online {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hcustomer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.part2 div span {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #FF5959;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part2 div span i {
    font-size: 2em;
}

.number {
    color: #F6F7FF;
    font-size: 2.5em;
    height: 50px;
}

.name {
    color: #F6F7FF;
    font-size: 1.1em;
}


/* part 3 */

.part3 {
    width: 1179px;
    height: 424px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(249, 242, 253);
    box-shadow: 0px 0px 10px 0px rgb(249, 242, 253);
    border-radius: 23px;
    margin: 30px 0 0 0;
    padding: 0 50px;
}

.n-p3 h2 {
    font-size: 2.1em;
    height: 52px;
}

.redside {
    width: 35px;
    height: 5px;
    border-radius: 10px;
    background-color: #FF5959;
}

.n-p3 {
    margin: 70px 0 40px 0;
}

.part3 div div i {
    font-size: 2em;
    color: #FF5959;
    transition: all .3s ease-in;
}

.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service div {
    border: 1px #ddd solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 195px;
    width: 250px;
}

.t-serv {
    font-size: 1.5em;
    margin: 16px 0 10px 0;
    transition: all .3s ease-in;
}

.p-serv {
    color: rgb(128, 128, 128);
    transition: all .3s ease-in;
}

.serv2:hover>.t-serv {
    color: white;
    transition: all .3s ease-in;
}

.serv2:hover>.p-serv {
    color: white;
    transition: all .3s ease-in;
}

.serv2:hover>i {
    color: white;
    transition: all .3s ease-in;
}

.SERV2 {
    transition: all .3s ease-in;
}

.serv2:hover {
    background-color: #FF5959;
    -webkit-box-shadow: 0 0 20px 0 rgb(165, 165, 165);
    box-shadow: 0 0 20px 0 rgb(165, 165, 165);
    border: 1px transparent solid;
    transition: all .3s ease-in;
}

.serv1:hover>.t-serv {
    color: white;
    transition: all .3s ease-in;
}

.serv1:hover>.p-serv {
    color: white;
    transition: all .3s ease-in;
}

.serv1:hover>i {
    color: white;
    transition: all .3s ease-in;
}

.SERV1 {
    transition: all .3s ease-in;
}

.serv1:hover {
    background-color: #FF5959;
    -webkit-box-shadow: 0 0 20px 0 rgb(165, 165, 165);
    box-shadow: 0 0 20px 0 rgb(165, 165, 165);
    border: 1px transparent solid;
    transition: all .3s ease-in;
}

.serv3:hover>.t-serv {
    color: white;
    transition: all .3s ease-in;
}

.serv3:hover>.p-serv {
    color: white;
    transition: all .3s ease-in;
}

.serv3:hover>i {
    color: white;
    transition: all .3s ease-in;
}

.SERV3 {
    transition: all .3s ease-in;
}

.serv3:hover {
    background-color: #FF5959;
    -webkit-box-shadow: 0 0 20px 0 rgb(165, 165, 165);
    box-shadow: 0 0 20px 0 rgb(165, 165, 165);
    border: 1px transparent solid;
    transition: all .3s ease-in;
}

.serv4:hover>.t-serv {
    color: white;
    transition: all .3s ease-in;
}

.serv4:hover>.p-serv {
    color: white;
    transition: all .3s ease-in;
}

.serv4:hover>i {
    color: white;
    transition: all .3s ease-in;
}

.SERV4 {
    transition: all .3s ease-in;
}

.serv4:hover {
    background-color: #FF5959;
    -webkit-box-shadow: 0 0 20px 0 rgb(165, 165, 165);
    box-shadow: 0 0 20px 0 rgb(165, 165, 165);
    border: 1px transparent solid;
    transition: all .3s ease-in;
}


/* part 4 */

.part4 {
    width: 1179px;
    height: 530px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(249, 242, 253);
    box-shadow: 0px 0px 10px 0px rgb(249, 242, 253);
    border-radius: 23px;
    margin: 30px 0 0 0;
    padding: 0 50px;
}

.head {
    display: flex;
    align-items: center;
}

.icon-p4 {
    background-color: #FF5959;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 20px;
}

.bi-file-person {
    font-size: 1.7em;
}

.vfd {
    font-weight: 900;
    font-size: 1.2em;
    color: #FF5959;
}

.vsf {
    color: rgb(92, 92, 92);
}

.mtn {
    width: 270px;
    margin: 20px 78px 0 0;
    font-size: 1em;
}

.option-p4 {
    border: 1px #ddd solid;
    border-radius: 10px;
    width: 400px;
    height: 244px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.p-p4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 0 0;
}

.next {
    font-size: 2em;
    color: #FF5959;
}

.prev {
    font-size: 2em;
    color: #FF5959;
}

.w3 {
    display: none;
}